.reso-card {
  width: 250px;
  border: solid 5px #028080;
  background-color: #FFF;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

#card-name {
  font-size: 18px;
  color: #028080;

}

.card-details {
  color: #028080;
  font-size: 16px;
}
