.card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.sort-menu {
  height: 30px;
  background-color: #028080;
  color: #FFF;
  font-size: 16px;
  margin: 5px;
  padding: 3px;
}
